<div class="widget-clock" ng-class="themeClass" ng-if="date">
  <div class="analog" ng-if="analog">
    <div class="square">
      <svg viewBox="0 0 100 100">
        <g transform="translate(50,50)">
          <circle r="40" stroke="white" stroke-width="1" stroke-opacity="0.5" fill="none" />
          <!-- <line ng-repeat="minor in minors track by $index" class="minor" y1="42" y2="45" ng-attr-transform="rotate({{360 * $index / minors.length}})" />
          <line ng-repeat="major in majors track by $index" class="major" y1="35" y2="46" ng-attr-transform="rotate({{360 * $index / majors.length}})" />
          <circle class="hour"  y1="2" y2="-48" ng-attr-transform="rotate({{30 * date.hrs + date.mins / 2}})" /> -->
          <line stroke-width="7" stroke-linecap="round" class="hournight" rx="1" ry="1" y1="-40" y2="-40" ng-attr-transform="rotate({{30 * date.hrs + date.mins / 2}})" />
          <!-- <line class="minute" y1="4" y2="-30" ng-attr-transform="rotate({{6 * date.mins + date.secs / 10}})" /> -->
          <!-- <g ng-attr-transform="rotate({{6 * date.secs}})">
            <line class="second" y1="10" y2="-38" />
            <line class="second-counterweight" y1="10" y2="2" />
          </g> -->
        </g>
      </svg>
    </div>
  </div>
  <div class="main-clock">
    <div class="digital digital-clock" ng-if="digital"><span><span>{{digital }}</span></span>
    </div>

    <div ng-if="gmtInfo" class="gmt-info">{{gmtInfo}}</div>
  </div>
</div>
